header{
  color: #f7325e;
  text-align: center;
  font-size: 25px;
  text-decoration: underline;
}
.bella{
  color: lightsalmon;
}
.spike{
  color: yellowgreen;
}
.one{
  color: maroon;
  font-size: 25px;
  text-decoration: underline;
}
.two{
  color: maroon;
  font-size: 25px;
  text-decoration: underline;
}